<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>我的评价</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!--标准mui.css-->
    <link rel="stylesheet" href="${base!}/assets/front/h5/css/mui.min.css" />
    <link rel="stylesheet" type="text/css" href="${base!}/assets/front/h5/css/icons-extra.css" />
    <link rel="stylesheet" href="${base!}/assets/front/h5/css/hryc.css" />
    <link rel="stylesheet" href="${base!}/assets/front/newH5/css/index.css?v=${@date.getDateTime()}" />
    <!--App自定义的css-->
    <!--<link rel="stylesheet" type="text/css" href="../css/app.css"/>-->
</head>
<body>


<header class="mui-bar mui-bar-nav top-color">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: white;"></a>
    <h1 class="mui-title" style="color: white;">
        我的评价
    </h1>
</header>



<div id="vue" style="margin-top: 60px;margin-bottom: 74px;" v-cloak>
    <div class="mui-card"  v-for="good in feedList" :key="good.id" v-on:click="goOrderInfo(good)">
        <div class="mui-card-header">
            <span>订单号：</span><span>{{good.orderId}}</span>
        </div>
        <div class="mui-card-content">
            <div class="mui-card-content">
                <ul class="mui-table-view">
                    <!--<li class="mui-table-view-cell mui-media" v-if="good.order_main!=null">-->
                        <!--<a v-if="good.order_main.orderType=='1'" :href="'${base!}/open/h5/product/productDetail.html?id='+good.goodsId">-->
                        <!--<a v-if="good.order_main.orderType=='2'" :href="'${base!}/open/h5/cms/videoBuyPage.html?id='+good.goodsId">-->
                            <!--<img class="mui-media-object mui-pull-left" :src="good.goodsMain.imgList" style="width: 100px;height: 100px;max-width: inherit;">-->
                            <!--<div class="mui-media-body" style="white-space:normal;" >-->
                                <!--<span>{{good.goodsMain.name}}</span>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</li>-->
                    <li class="mui-table-view-cell mui-media">
                            <a href="javascript:void (0)">
                                <img class="mui-media-object mui-pull-left" :src="good.goodsMain.imgList" style="width: 100px;height: 100px;max-width: inherit;">
                                <div class="mui-media-body" style="white-space:normal;" >
                                    <span>{{good.goodsMain.name}}</span>
                                </div>
                            </a>
                    </li>
                    <div style="margin-bottom: 10px;padding: 0 15px;margin-top: 10px">
                         <p>{{good.feedNote}}</p>
                        <div><span style="color: #999999">{{good.feedAtTime}}</span></div>
                    </div>
                </ul>
            </div>
        </div>
        <!--<div class="mui-card-header">-->
        <!--<button type="button" class="mui-btn mui-btn-success" onclick="location.href='${base!}/open/h5/address/goAddressUp.html'">支付</button>-->
        <!--<button type="button" class="mui-btn mui-btn-danger mui-btn-outlined">-->
        <!--取消-->
        <!--</button>-->
        <!--</div>-->
    </div>
</div>



<script type="text/javascript" src="${base!}/assets/front/h5/js/mui.js" ></script>
<script type="text/javascript" src="${base!}/assets/front/h5/js/vue.js" ></script>
<script type="text/javascript" src="${base!}/assets/front/h5/js/jquery-2.0.0.min.js" ></script>
<script type="application/javascript">
    mui.init({
        swipeBack:true //启用右滑关闭功能
    });

    var vue = new Vue({
        el: '#vue',
        data: {
            feedList: [],
        },
        created:function () {   //实例初始化创建完成执行

            this.getFeedbackMy();     //调用自身方法

        },
        methods:{              //定义封装方法
            //获取列表
            getFeedbackMy:function () {
                var self = this;
                var status = "${status!}";
                $.ajax({
                    type:"POST",
                    url:"${base!}/open/h5/feedback/queryFeedbackMy",
                    dataType:"JSON",
                    data:{

                    },
                    success:function(data){
                        if (data.code == 0) {
                            var d = data.data;
                            // $.each(d, function (index, obj) {
                            //     obj.feedAt=formatDate(obj.feedAt)
                            //     d[index] = obj;
                            // })
                            self.feedList = d;
                        } else {

                        }
                    }
                });

            },
            goOrderInfo:function (good) {
                window.location.href="${base!}/open/h5/order/goOrderInfo.html?orderId="+good.orderId;
            }
        },
        filters: {

        },
        watch:{     //监听器
            // carModel:function () {
            //     this.getProvince();
            // }
        }

    })

     function formatDate(value) {
        let date = new Date(value);
        let y = date.getFullYear();
        let MM = date.getMonth() + 1;
        MM = MM < 10 ? ('0' + MM) : MM;
        let d = date.getDate();
        d = d < 10 ? ('0' + d) : d;
        let h = date.getHours();
        h = h < 10 ? ('0' + h) : h;
        let m = date.getMinutes();
        m = m < 10 ? ('0' + m) : m;
        let s = date.getSeconds();
        s = s < 10 ? ('0' + s) : s;
        return y + '-' + MM + '-' + d + ' ' + h + ':' + m + ':' + s;
    }

</script>
</body>
</html>
