<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>我的优惠劵</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!--标准mui.css-->
    <link rel="stylesheet" href="${base!}/assets/front/h5/css/mui.min.css" />
    <link rel="stylesheet" type="text/css" href="${base!}/assets/front/h5/css/icons-extra.css" />
    <link rel="stylesheet" href="${base!}/assets/front/h5/css/hryc.css" />
    <link rel="stylesheet" href="${base!}/assets/front/newH5/css/index.css?v=${@date.getDateTime()}" />
    <!--App自定义的css-->
    <!--<link rel="stylesheet" type="text/css" href="../css/app.css"/>-->
</head>
<body>


<header class="mui-bar mui-bar-nav top-color">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: white;"></a>
    <h1 class="mui-title" style="color: white;">我的优惠劵</h1>
</header>

<div class="mui-content" style="background: white;margin-bottom: 74px" id="vue" v-cloak>
    <ul class="mui-table-view yhq_list">
        <li class="mui-table-view-cell mui-media" v-for="item in couponList" :key="item.id">
            <!--<a :href="'${base!}/open/h5/cms/videoBuyPage.html?id='+item.id">-->
            <div  v-if="item.sales_coupon!=null">
            <div class="yhq_info">
                <div>
                <span class="yhq_name">{{item.sales_coupon.name}}</span>
                <span class="yhq_type" v-if="item.sales_coupon.type==1">满减劵</span>
                <span class="yhq_type" v-if="item.sales_coupon.type==2">免运费劵</span>
                <span class="yhq_type" v-if="item.sales_coupon.type==3">折扣劵</span>
                </div>
                <span class="yhq_time">结束时间：{{item.sales_coupon.endTimeStr}}</span>
            </div>
            <div class="yhq_get" v-on:click="receive(item.id)">
                立即使用
            </div>
            </div>
            <!--</a>-->
        </li>
    </ul>
</div>
<script type="text/javascript" src="${base!}/assets/front/h5/js/mui.js" ></script>
<script type="text/javascript" src="${base!}/assets/front/h5/js/vue.js" ></script>
<script type="text/javascript" src="${base!}/assets/front/h5/js/jquery-2.0.0.min.js" ></script>
<script type="application/javascript">
    mui.init({
        swipeBack:true //启用右滑关闭功能
    });

    var vue = new Vue({
        el: '#vue',
        data: {
            couponList: [],
        },
        created:function () {   //实例初始化创建完成执行

            this.getCouponList()     //调用自身方法

        },
        methods:{              //定义封装方法
            //获取列表
            getCouponList:function () {
                var self = this;
                $.ajax({
                    type:"POST",
                    url:"${base!}/open/h5/coupon/getMyCoupon.html",
                    dataType:"JSON",
                    data:{

                    },
                    success:function(data){
                        if (data.code == 0) {
                            var d = data.data;
                            self.couponList = d;
                        } else {

                        }
                    }
                });

            },
            receive:function (couponId) {
                window.location.href = "${base!}/open/h5/product/list.html";
            }
        },
        watch:{     //监听器
            // carModel:function () {
            //     this.getProvince();
            // }
        }

    })

</script>
</body>
</html>
