<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>订单列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!--标准mui.css-->
    <link rel="stylesheet" href="${base!}/assets/front/h5/css/mui.min.css" />
    <link rel="stylesheet" type="text/css" href="${base!}/assets/front/h5/css/icons-extra.css" />
    <link rel="stylesheet" href="${base!}/assets/front/h5/css/hryc.css" />
    <!--App自定义的css-->
    <!--<link rel="stylesheet" type="text/css" href="../css/app.css"/>-->
    <style>
        .mui-table-view .mui-media-object {
            line-height: 42px;
            max-width: 145px;
            height: 100px;
        }
        .jiage-text{
            font-size: 18px;
            color: red;
            margin-right:10px ;
        }
        [v-cloak]{
            display: none !important;
        }
    </style>
</head>
<body>


<header class="mui-bar mui-bar-nav top-color">
    <a class="mui-icon mui-icon-left-nav mui-pull-left"
       href="${base!}/open/h5/niantu/userCenter.html"
       style="color: white;"></a>
    <h1 class="mui-title" style="color: white;">
        订单列表
    </h1>
</header>

<!--底部导航栏-->
<nav class="mui-bar mui-bar-tab" style="background: white;">
    <a class="mui-tab-item" onclick="window.location.href='${base!}/open/h5/niantu/index.html'">
        <span class="mui-icon mui-icon-home"></span>
        <span class="mui-tab-label">首页</span>
    </a>
    <a class="mui-tab-item" onclick="window.location.href='${base!}/open/h5/cart/shoppingCart.html'">
        <span class="mui-icon mui-icon-extra mui-icon-extra-cart"></span>
        <span class="mui-tab-label">购物车</span>
    </a>
    <a class="mui-tab-item" onclick="window.location.href='${base!}/open/h5/coupon/receiveCoupon.html'">
        <span class="mui-icon mui-icon-extra mui-icon-extra-gift"></span>
        <span class="mui-tab-label">领劵中心</span>
    </a>
    <a class="mui-tab-item mui-active" onclick="window.location.href='${base!}/open/h5/niantu/userCenter.html'">
        <span class="mui-icon mui-icon-person"></span>
        <span class="mui-tab-label">个人中心</span>
    </a>
</nav>

<div id="vue" style="margin-top: 60px;margin-bottom: 60px;" v-cloak>
    <div class="mui-card"  v-for="item in orderList" :key="item.id">
        <div class="mui-card-header">
            <span v-if="item.payStatus == 0" style="color: #f6c142;">待支付</span>
            <span v-if="item.payStatus == 3 && item.orderStatus!=5" style="color: green;">已支付</span>
            <span v-if="item.payStatus == 3 && item.orderStatus==5" >已完成</span>
            <span v-if="item.payStatus == 4" >待退款</span>
            <span v-if="item.payStatus == 6" style="color: red;">已退款</span>
            <span>订单号：</span><span>{{item.id}}</span>
        </div>
        <div class="mui-card-content" v-if="item.orderType !='3' ">
            <div class="mui-card-content" v-for="good in item.goodsList" :key="good.id">
                <ul class="mui-table-view">
                    <li class="mui-table-view-cell mui-media" >
                        <a :href="'${base!}/open/h5/order/goOrderInfo.html?orderId='+item.id">
                            <img class="mui-media-object mui-pull-left" :src="good.imgUrl">
                            <div class="mui-media-body" style="white-space:normal;" >
                                <span>{{good.goodsName}}</span>
                                <p class='mui-ellipsis'style="margin-top: 35px;margin-left: 0px;" >
                                    <span class="jiage-text">￥{{good.salePrice/100}}</span>
                                    <span>*{{good.buyNum}}</span>
                                </p>
                                <span>{{item.orderTime}}</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mui-card-content" v-if="item.orderType =='3' ">
            <div class="mui-card-content">
                <ul class="mui-table-view">
                    <li class="mui-table-view-cell mui-media" >
                        <a :href="'${base!}/open/h5/order/goOrderInfo.html?orderId='+item.id">
                            <div class="mui-media-body" style="white-space:normal;" >
                                <span>包月视频服务</span>
                                <p class='mui-ellipsis'style="margin-top: 35px;margin-left: 0px;" >
                                    <span class="jiage-text">￥{{item.payMoney/100}}</span>
                                    <span>*1</span>
                                </p>
                                <span>{{item.orderTime}}</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--<div class="mui-card-header">-->
            <!--<button type="button" class="mui-btn mui-btn-success" onclick="location.href='${base!}/open/h5/address/goAddressUp.html'">支付</button>-->
            <!--<button type="button" class="mui-btn mui-btn-danger mui-btn-outlined">-->
                <!--取消-->
            <!--</button>-->
        <!--</div>-->
    </div>
</div>



<script type="text/javascript" src="${base!}/assets/front/h5/js/mui.js" ></script>
<script type="text/javascript" src="${base!}/assets/front/h5/js/vue.js" ></script>
<script type="text/javascript" src="${base!}/assets/front/h5/js/jquery-2.0.0.min.js" ></script>
<script type="application/javascript">
    mui.init({
        swipeBack:true //启用右滑关闭功能
    });

    var vue = new Vue({
        el: '#vue',
        data: {
            orderList: [],
        },
        created:function () {   //实例初始化创建完成执行

            this.getMyOrderList()     //调用自身方法

        },
        methods:{              //定义封装方法
            //获取列表
            getMyOrderList:function () {
                var self = this;
                var status = "${status!}";
                $.ajax({
                    type:"POST",
                    url:"${base!}/open/h5/order/getMyOrderList.html",
                    dataType:"JSON",
                    data:{
                        status:status
                    },
                    success:function(data){
                        if (data.code == 0) {
                            var d = data.data;
                            self.orderList = d;
                        } else {

                        }
                    }
                });

            }
        },
        filters: {
            formatDate: function (value) {
                let date = new Date(value);
                let y = date.getFullYear();
                let MM = date.getMonth() + 1;
                MM = MM < 10 ? ('0' + MM) : MM;
                let d = date.getDate();
                d = d < 10 ? ('0' + d) : d;
                let h = date.getHours();
                h = h < 10 ? ('0' + h) : h;
                let m = date.getMinutes();
                m = m < 10 ? ('0' + m) : m;
                let s = date.getSeconds();
                s = s < 10 ? ('0' + s) : s;
                return y + '-' + MM + '-' + d + ' ' + h + ':' + m + ':' + s;
            }
        },
        watch:{     //监听器
            // carModel:function () {
            //     this.getProvince();
            // }
        }

    })

</script>
</body>
</html>
